<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is page is rendered by render_template function of Flask</h1>
        <h1>Changing the Base URL of Flask into local system IP address </h1>
        <h1>And we can also change port number of Base url too..while passing port attribute value in run method</h1>
        <sub><i><b><u><h1>The name of agent is {{name}} and his id is {{id}} </h1></u></b></i></sub>
    </center>
</body>
</html>